params {
    // modules
    module_dir = "/stornext/Bioinf/data/lab_davis/lee.sa/nf_modules"
    store_dir  = "/vast/projects/ncla/ensembl108/nextflow"
    
    transcriptome = "/vast/projects/ncla/ensembl108/Homo_sapiens.GRCh38.cdna.all.fa.gz"
    genome = "/vast/projects/ncla/ensembl108/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
    gtf = "/vast/projects/ncla/ensembl108/Homo_sapiens.GRCh38.108.chr.gtf"
    tx_ver = "ens108"
    juncs = "NO_FILE"


    read_len = 101
    project = "ccle_realignment"
    samplesheet = "ccle_samplesheet.csv"
}

process {
  executor = 'slurm'
}

executor {
  name = 'local'
  queueSize = 60
}

singularity {
    enabled = true
    cacheDir = '/vast/scratch/users/lee.sa/singularity_cache'
}

dag {
  overwrite = true
}